<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.ppd.dal.mysql.screenconsume.ScreenConsumeMapper">


    <update id="increaseScreenConsume">
        UPDATE tb_screen_consume
        SET inbound_number = inbound_number + #{number},
            current_number = current_number + #{number}
        WHERE id = #{id}
          AND deleted = 0
    </update>


    <update id="decreaseScreenConsume">
        UPDATE tb_screen_consume
        SET current_number = current_number - #{number}
        WHERE id = #{id}
          AND deleted = 0
    </update>
</mapper>