<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.ppd.dal.mysql.screenconsume.ScreenConsumeMapper">


    <update id="increaseScreenConsume">
        UPDATE tb_screen_consume
        SET inbound_number = inbound_number + #{number},
            current_number = current_number + #{number}
        WHERE id = #{id}
          AND deleted = 0
    </update>


    <update id="decreaseScreenConsume">
        UPDATE tb_screen_consume
        SET current_number = current_number - #{number}
        WHERE id = #{id}
          AND deleted = 0
    </update>


    <select id="selcetByReagentId"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenconsume.ScreenConsumeDO">
        SELECT id, reagent_id, reagent_name, reagent_type, reagent_specs_num, threshold, usable
        FROM tb_screen_consume
        WHERE reagent_id = #{reagentId}
          AND deleted = 0
    </select>

    <update id="forbid">
        UPDATE tb_screen_consume
        SET usable = 1
        WHERE reagent_id = #{id}
          AND deleted = 0
    </update>


    <update id="recover">
        UPDATE tb_screen_consume
        SET usable = 0
        WHERE reagent_id = #{id}
          AND deleted = 0
    </update>

    <select id="isExist" resultType="java.lang.Integer">
        SELECT count(*)
        FROM tb_screen_consume
        WHERE deleted = 0
          AND reagent_id = #{reagentId}
          AND consume_order = #{consumeOrder}
          AND bath_number = #{bathNumber}
          AND indate = #{indate}
          AND manufacture_date = #{manufactureDate}
          AND dept_id = #{deptId}
    </select>

    <select id="isExist2" resultType="java.lang.Integer">
        SELECT count(*)
        FROM tb_screen_consume
        WHERE deleted = 0
          AND reagent_name = #{reagentName}
          AND consume_order = #{consumeOrder}
          AND bath_number = #{bathNumber}
          AND indate = #{indate}
          AND manufacture_date = #{manufactureDate}
          AND dept_id = #{deptId}
    </select>


    <select id="selectByTime"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenconsume.ScreenConsumeDO">
        SELECT reagent_name, bath_number, IFNULL(SUM(tscd.change_number), 0) AS currentNumber
        FROM tb_screen_consume AS tsc
        LEFT JOIN tb_screen_consume_record AS tscd ON tsc.id = tscd.consume_id
        WHERE
            tsc.deleted = 0
        AND tscd.deleted = 0
        AND tscd.type in (1, 3)
        AND tsc.dept_id = #{deptId}
        <if test="startDateTime != null and endDateTime != null">
            AND tscd.create_time BETWEEN #{startDateTime} AND #{endDateTime}
        </if>
        <if test="reagentName != null">AND tsc.reagent_name like CONCAT('%', #{reagentName}, '%') </if>
        GROUP BY reagent_name, bath_number
    </select>
    <select id="listUsable"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenconsume.ScreenConsumeDO">
        select c.*
        from tb_screen_reagent r left join tb_screen_consume c on c.reagent_id=r.id
        where c.current_number >0 and c.deleted=0 and c.dept_id=#{deptId} and r.deleted=0 and c.usable=0
        <if test="reagentId !=null"> and c.reagent_id=#{reagentId}</if>
    </select>
    <select id="listConsumeByReagentId" resultType="java.lang.Integer">
        select ifnull(sum(current_number),0) from tb_screen_consume where usable=0 and deleted=0 and reagent_id=#{reagentId} and dept_id=#{deptId}

    </select>
    <select id="selectMaxOrderByReagent" resultType="java.lang.Integer">
        select consume_order
        from tb_screen_consume
        WHERE deleted = 0 and dept_id=#{deptId} and reagent_id=#{reagentId}
        order by consume_order desc
        limit 1
    </select>
    <select id="countOrderByReagent" resultType="java.lang.Integer">
        select ifnull(count(*),0)
        from tb_screen_consume
        WHERE deleted = 0 and dept_id=#{deptId} and reagent_id=#{reagentId} and consume_order=#{consumeOrder}
    </select>


</mapper>