<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.ppd.dal.mysql.screenpersonrealsituation.ScreenPersonMapper">

    <select id="isNullByIdNum" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT id
        FROM tb_screen_person
        WHERE id_num = #{idNum}
          AND deleted = 0
    </select>


    <select id="getCheckList"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.CollectVO">
        SELECT id, outcome, screen_agency, screen_time, screen_order, person_id, contacted
        FROM tb_screen_collect
        WHERE person_id = #{patientId}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
        ORDER BY id DESC
    </select>


    <select id="getPPDList"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.ScreenTstVO">
        SELECT transverse_diameter,
               longitudinal_diameter,
               bleb,
               injection,
               screen_order,
               person_id,
               injection_way,
               outcome,
               injection_agency,
               screen_time,
               id,
               blush_transverse_diameter,
               blush_longitudinal_diameter
        FROM tb_screen_ppd
        WHERE person_id = #{patientId}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
        ORDER BY id DESC
    </select>


    <select id="getDRList"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.ChestRadiographVO">
        SELECT chest_radiograph_code, chest_radiograph, photo_time AS screenTime, outcome, screen_order,person_id, id
        FROM tb_screen_chest_radiograph
        WHERE person_id = #{patientId}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
        ORDER BY id DESC
    </select>


    <select id="getCTList"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.ChestRadiographVO">
        SELECT computed_tomography_code AS chestRadiographCode,
               computed_tomography      AS chestRadiograph,
               photo_time               AS screenTime,
               outcome,
               screen_order,
               person_id,
               id
        FROM tb_screen_computed_tomography
        WHERE person_id = #{patientId}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
        ORDER BY id DESC
    </select>


    <select id="getSputumList"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.SputumExaminationVO">
        SELECT sputum_examination,
               type,
               forthwith_sputum,
               forthwith_sputum_code,
               evening_sputum,
               evening_sputum_code,
               morning_sputum,
               morning_sputum_code,
               outcome,
               screen_time,
               screen_order,
               person_id, id
        FROM tb_screen_sputum_examination
        WHERE person_id = #{patientId}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
        ORDER BY id DESC
    </select>


    <select id="getElectList"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.ElectrocardiogramVO">
        SELECT electrocardiogram, screen_time, screen_order, person_id, id
        FROM tb_screen_electrocardiogram
        WHERE person_id = #{patientId}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
        ORDER BY id DESC
    </select>


    <select id="getDiagnoList"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.DiagnosisVO">
        SELECT screen_time, outcome, report, preventive_treatment, screen_order, person_id, id, treatment_program
        FROM tb_screen_diagnosis
        WHERE person_id = #{patientId}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
        ORDER BY id DESC
    </select>


    <select id="isNullByIdNumYear" resultType="java.lang.Long">
        SELECT id
        FROM tb_screen_person
        WHERE id_num = #{idNum}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
    </select>


    <!--<select id="getImageUrl" resultType="cn.iocoder.yudao.module.flow.tb.process.controller.admin.screenpersonrealsituation.vo.ImageVO">
        SELECT url, id
        FROM tb_screen_images
        WHERE person_id = #{personId}
          AND type = #{type}
          AND screen_order = #{screenOrder}
          AND screen_id = #{screenId}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
    </select>-->

    <select id="getImageUrl" resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.ImageVO">
        SELECT url, id
        FROM tb_screen_images
        WHERE person_id = #{personId}
          AND type = #{type}
          AND screen_order = #{screenOrder}
          AND year = #{year}
          AND screen_type = #{screenType}
          AND deleted = 0
    </select>


    <select id="selectImageById"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.ImageVO"
            parameterType="java.lang.Long">
        SELECT url, id
        FROM tb_screen_images
        WHERE id = #{imageId}
          AND deleted = 0
    </select>


    <select id="getMaxScreenId" resultType="java.lang.String">
        SELECT screen_id
        FROM tb_screen_person
        WHERE year = #{year}
          AND town = #{town}
          AND deleted = 0
    </select>

    <select id="getPage"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenpersonrealsituation.ScreenPersonDO">
        SELECT id, name, id_num, screen_type, is_new, is_screened, is_new_student,
               first_type, more_type, screen_time, sex, age, tel, nation, school_or_temple,
               classroom, height, weight, permanent_address, permanent_address_province,
               permanent_address_city, permanent_address_county, permanent_address_town,
               address, province, city, county, town, screen_point, screen_id, year
        FROM tb_screen_person
        WHERE deleted = 0
        <if test="idNum != null and idNum != '' ">AND id_num = #{idNum}</if>
        <if test="year != null ">AND year = #{year}</if>
        <if test="name != null and name != '' ">AND name LIKE #{name} || '%'</if>
        <if test="age != null ">AND age = #{age}</if>
        <if test="sex != null ">AND sex = #{sex}</if>
        <if test="address != null and address != '' ">AND address LIKE #{address} || '%'</if>
        <if test="nation != null ">AND nation = #{nation} </if>
        <if test="firstType != null ">AND first_type = #{firstType}</if>
        <if test="screenId != null and screenId != '' ">AND screen_id LIKE #{screenId} || '%'</if>
        <if test="schoolOrTemple != null and schoolOrTemple != '' ">AND school_or_temple LIKE #{schoolOrTemple} || '%'</if>
        <if test="classroom != null and classroom != '' ">AND classroom LIKE #{classroom} || '%'</if>
        </select>


    <update id="updateImage">
        UPDATE tb_screen_images
        SET url = #{imageStr}
        WHERE id = #{imageId} AND deleted = 0
    </update>
    <update id="updateIsScreenedById">
        UPDATE
            `tb_screen_person`
        SET `is_screened` = 1
        WHERE
            `id` = #{personId} AND deleted = 0
    </update>


    <select id="getScreenedCountFromPlan"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenpersonrealsituation.ScreenPersonDO">
        SELECT id, more_type AS moreType
        FROM tb_screen_person
        WHERE is_new = 1
        AND is_screened = 1
        AND deleted = 0
        <if test="screenType != null">AND screen_type = #{screenType}</if>
        <if test="year != null">AND year = #{year}</if>
        <if test="quarter != null and quarter == 1">AND DATE_FORMAT(create_time, '%m') in (1, 2, 3)</if>
        <if test="quarter != null and quarter == 2">AND DATE_FORMAT(create_time, '%m') in (4, 5, 6)</if>
        <if test="quarter != null and quarter == 3">AND DATE_FORMAT(create_time, '%m') in (7, 8, 9)</if>
        <if test="quarter != null and quarter == 4">AND DATE_FORMAT(create_time, '%m') in (10, 11, 12)</if>
    </select>

    <select id="findPlannedScreening"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenpersonrealsituation.ScreenPersonDO">
        SELECT id, more_type AS moreType
        FROM tb_screen_person
        WHERE is_new = 1
        AND deleted = 0
        <if test="screenType != null">AND screen_type = #{screenType}</if>
        <if test="year != null">AND year = #{year}</if>
        <if test="quarter != null and quarter == 1">AND DATE_FORMAT(create_time, '%m') in (1, 2, 3)</if>
        <if test="quarter != null and quarter == 2">AND DATE_FORMAT(create_time, '%m') in (4, 5, 6)</if>
        <if test="quarter != null and quarter == 3">AND DATE_FORMAT(create_time, '%m') in (7, 8, 9)</if>
        <if test="quarter != null and quarter == 4">AND DATE_FORMAT(create_time, '%m') in (10, 11, 12)</if>
    </select>

    <select id="getActiveTuberculosisList"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenpersonrealsituation.ScreenPersonDO">
        SELECT
            sp.id,
            sp.more_type
        FROM
            tb_screen_person sp
                JOIN ( SELECT person_id
                 FROM tb_screen_diagnosis
                 WHERE outcome IN ( 8, 9 )
                <if test="screenType != null">AND screen_type = #{screenType}</if>
                <if test="year != null">AND year = #{year}</if>
                <if test="quarter != null and quarter == 1">AND DATE_FORMAT(create_time, '%m') IN (1, 2, 3)</if>
                <if test="quarter != null and quarter == 2">AND DATE_FORMAT(create_time, '%m') IN (4, 5, 6)</if>
                <if test="quarter != null and quarter == 3">AND DATE_FORMAT(create_time, '%m') IN (7, 8, 9)</if>
                <if test="quarter != null and quarter == 4">AND DATE_FORMAT(create_time, '%m') IN (10, 11, 12)</if>
                 GROUP BY person_id
                   ) AS diag ON sp.id = diag.person_id
    </select>
    <select id="getPathogenPositiveList"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenpersonrealsituation.ScreenPersonDO">
        SELECT
            sp.id,
            sp.more_type
        FROM
            tb_screen_person sp
                JOIN ( SELECT person_id
                FROM tb_screen_experiment
                WHERE ( smear_result = 1 OR culture_result = 1 OR (molecular_biology = 1 OR molecular_biology = 2) )
                <if test="screenType != null">AND screen_type = #{screenType}</if>
                <if test="year != null">AND year = #{year}</if>
                <if test="quarter != null and quarter == 1">AND DATE_FORMAT(create_time, '%m') IN (1, 2, 3)</if>
                <if test="quarter != null and quarter == 2">AND DATE_FORMAT(create_time, '%m') IN (4, 5, 6)</if>
                <if test="quarter != null and quarter == 3">AND DATE_FORMAT(create_time, '%m') IN (7, 8, 9)</if>
                <if test="quarter != null and quarter == 4">AND DATE_FORMAT(create_time, '%m') IN (10, 11, 12)</if>
                GROUP BY person_id ) AS diag ON sp.id = diag.person_id
    </select>
    <select id="getConfirmedAndTreatingPatientsList"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenpersonrealsituation.ScreenPersonDO">
        SELECT
            sp.id,
            sp.more_type
        FROM
            tb_screen_person sp
                JOIN ( SELECT person_id
                FROM tb_screen_diagnosis
                WHERE outcome is not null
                <if test="screenType != null">AND screen_type = #{screenType}</if>
                <if test="year != null">AND year = #{year}</if>
                <if test="quarter != null and quarter == 1">AND DATE_FORMAT(create_time, '%m') IN (1, 2, 3)</if>
                <if test="quarter != null and quarter == 2">AND DATE_FORMAT(create_time, '%m') IN (4, 5, 6)</if>
                <if test="quarter != null and quarter == 3">AND DATE_FORMAT(create_time, '%m') IN (7, 8, 9)</if>
                <if test="quarter != null and quarter == 4">AND DATE_FORMAT(create_time, '%m') IN (10, 11, 12)</if>
                GROUP BY person_id ) AS diag ON sp.id = diag.person_id;
    </select>
    <select id="getLatentInfectionList"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenpersonrealsituation.ScreenPersonDO">
        SELECT
            per.id,
            per.more_type
        FROM
            tb_screen_person per
                JOIN (
                SELECT
                    ppd.person_id
                FROM
                    tb_screen_ppd ppd
                        INNER JOIN tb_screen_computed_tomography ct ON ppd.person_id = ct.person_id
                        INNER JOIN tb_screen_chest_radiograph dr ON ppd.person_id = dr.person_id
                WHERE
                    ppd.outcome = 1
                  AND dr.outcome = 0
                  AND ct.outcome = 0
                <if test="screenType != null">AND ppd.screen_type = #{screenType}</if>
                <if test="year != null">AND ppd.year = #{year}</if>
                <if test="quarter != null and quarter == 1">AND DATE_FORMAT(ppd.create_time, '%m') IN (1, 2, 3)</if>
                <if test="quarter != null and quarter == 2">AND DATE_FORMAT(ppd.create_time, '%m') IN (4, 5, 6)</if>
                <if test="quarter != null and quarter == 3">AND DATE_FORMAT(ppd.create_time, '%m') IN (7, 8, 9)</if>
                <if test="quarter != null and quarter == 4">AND DATE_FORMAT(ppd.create_time, '%m') IN (10, 11, 12)</if>
                GROUP BY
                    ppd.person_id
            ) AS diag ON per.id = diag.person_id;
    </select>
    <select id="getDiabetesAndHivList"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenpersonrealsituation.ScreenPersonDO">
        SELECT
            id,
            more_type AS moreType
        FROM
            tb_screen_person
        WHERE
            <if test="screenType != null">screen_type = #{screenType}</if>
            <if test="year != null">AND year = #{year}</if>
            <if test="quarter != null and quarter == 1">AND DATE_FORMAT(create_time, '%m') IN (1, 2, 3)</if>
            <if test="quarter != null and quarter == 2">AND DATE_FORMAT(create_time, '%m') IN (4, 5, 6)</if>
            <if test="quarter != null and quarter == 3">AND DATE_FORMAT(create_time, '%m') IN (7, 8, 9)</if>
            <if test="quarter != null and quarter == 4">AND DATE_FORMAT(create_time, '%m') IN (10, 11, 12)</if>
    </select>

    <select id="getByPatientInfo"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.StatisticExportVO">
        SELECT name,
               age,
               school_or_temple                                      AS school,
               classroom,
               tsp.id_num                                            AS idNum,
               tspp.screen_time                                      AS ppdScreenTime,
               tspp.transverse_diameter                              AS transverseDiameter,
               tspp.longitudinal_diameter                            AS longitudinalDiameter,
               tspp.bleb                                             AS bleb,
               CASE WHEN tspp.maxScreenOrder1 > 0 THEN 1 ELSE 0 END AS isDoPpd,
               tspp.outcome                                          AS outcomePpd,
               (tspp.transverse_diameter + tspp.longitudinal_diameter) / 2 AS averageDiameter,
               CASE
                   WHEN (tspp.transverse_diameter + tspp.longitudinal_diameter) / 2
                       &lt;
                        15 THEN 1
                   ELSE 0
                   END                                               AS diameterFlag,
               tscr.photo_time                                       AS photoTime,
               CASE WHEN tscr.maxScreenOrder2 > 0 THEN 1 ELSE 0 END AS isDoX,
               tscr.outcome                                          AS outcomeDr
        FROM tb_screen_person AS tsp
                 LEFT JOIN (SELECT id_num,
                                   outcome,
                                   screen_type,
                                   screen_time,
                                   transverse_diameter,
                                   longitudinal_diameter,
                                   bleb,
                                   screen_order AS maxScreenOrder1
                            FROM tb_screen_ppd
                            WHERE year = #{year}
                              AND deleted = 0
                            GROUP BY id_num, outcome, screen_type, screen_time, transverse_diameter,
                                     longitudinal_diameter, bleb, screen_order
                            ORDER BY maxScreenOrder1 DESC
                            LIMIT 1) AS tspp
                           ON tsp.id_num = tspp.id_num AND tsp.screen_type = tspp.screen_type
                 LEFT JOIN (SELECT id_num, photo_time, outcome, screen_type, screen_order AS maxScreenOrder2
                            FROM tb_screen_chest_radiograph
                            WHERE year = #{year}
                              AND deleted = 0
                            GROUP BY outcome, photo_time, id_num, screen_type, screen_order
                            ORDER BY maxScreenOrder2 DESC
                            LIMIT 1) AS tscr
                           ON tsp.id_num = tscr.id_num AND tsp.screen_type = tscr.screen_type
        WHERE tsp.id_num = #{idNum}
          AND tsp.screen_type = #{screenType}
          AND tsp.year = #{year}
          AND tsp.deleted = 0
    </select>
    <select id="isNullByIdNumYearDeptId" resultType="java.lang.Long">
        SELECT id
        FROM tb_screen_person
        WHERE id_num = #{idNum} AND year = #{year} AND screen_type = #{screenType} AND deptId=#{deptId} AND deleted = 0
    </select>
    <select id="selectStudentByGuardianTel"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenpersonrealsituation.vo.StudentInfo">
        select id,name,tel phone,school_or_temple schoolName,classroom calssName,id_num idcard,year
        from tb_screen_person
        where deleted=0 and guardian_tel=#{tel} and screen_type=#{screenType}

    </select>
    <select id="selectPpdDetailNotice"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenppd.ScreenPpdDO">
        select *
        from tb_screen_ppd
        where outcome is not null and id_num=#{idNum} and screen_type=#{screenType} and deleted=0
        <if test="screenOrder!=null"> and screen_order=#{screenOrder}</if>
        <if test="curDate!=null and curDate!=''"> and #{curDate} between create_time and  DATE_ADD(create_time, INTERVAL 7 DAY)</if>
        order by id desc
        limit 1
    </select>
    <select id="selectCtDetailNotice"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screencomputedtomography.ScreenComputedTomographyDO">
        select id, computed_tomography_code computedTomographyCode, outcome, remark,create_time createTime,screen_order screenOrder
        from tb_screen_computed_tomography
        where outcome is not null and id_num=#{idNum} and screen_type=#{screenType} and deleted=0
        <if test="screenOrder!=null"> and screen_order=#{screenOrder}</if>
        <if test="curDate!=null and curDate!=''"> and #{curDate} between create_time and  DATE_ADD(create_time, INTERVAL 7 DAY)</if>
        order by id desc
        limit 1
    </select>
    <select id="selectDrDetailNotice"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screenchestradiograph.ScreenChestRadiographDO">
        select id, chest_radiograph_code chestRadiographCode, outcome, remark,create_time createTime,screen_order screenOrder
        from tb_screen_chest_radiograph
        where outcome is not null and id_num=#{idNum} and screen_type=#{screenType} and deleted=0
        <if test="screenOrder!=null"> and screen_order=#{screenOrder}</if>
        <if test="curDate!=null and curDate!=''"> and #{curDate} between create_time and  DATE_ADD(create_time, INTERVAL 7 DAY)</if>
        order by id desc
        limit 1
    </select>
    <select id="selectPpdNotice"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screencollect.ScreenCollectDO">
        select id,screen_order screenOrder,create_time createTime
        from tb_screen_collect
        where outcome is not null and id_num=#{idNum} and screen_type=#{screenType} and deleted=0
        <if test="screenOrder!=null"> and screen_order=#{screenOrder}</if>
        <if test="curDate!=null and curDate!=''"> and #{curDate} between create_time and  DATE_ADD(create_time, INTERVAL 7 DAY)</if>
        order by id desc
        limit 1
    </select>


</mapper>