<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.ppd.dal.mysql.screenconsumerecord.ScreenConsumeRecordMapper">

    <select id="getScreenConsumeRecordList"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screenconsumerecord.vo.ScreenConsumeRecordRespVO"
            parameterType="java.lang.Long">
        SELECT id, change_number, type, create_time, consume_id
        FROM tb_screen_consume_record
        WHERE consume_id = #{id}
          AND deleted = 0
        ORDER BY id DESC
    </select>
</mapper>