<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.ppd.dal.mysql.screendistrict.ScreenDistrictMapper">


    <select id="getCityName" resultType="java.lang.String">
        SELECT name
        FROM tb_screen_district
        WHERE level = 1
    </select>


    <select id="getCountyName" resultType="java.lang.String">
        SELECT name
        FROM tb_screen_district
        WHERE level = 2
    </select>


    <select id="getTownName" resultType="java.lang.String">
        SELECT name
        FROM tb_screen_district
        WHERE level = 3
    </select>


    <select id="getVillageName" resultType="java.lang.String">
        SELECT name
        FROM tb_screen_district
        WHERE level = 4
    </select>


    <select id="getProvinceName" resultType="java.lang.String">
        SELECT name
        FROM tb_screen_district
        WHERE level = 0
    </select>


    <select id="selectByName" resultType="java.lang.String">
        SELECT code
        FROM tb_screen_district
        WHERE name = #{name}
        LIMIT 1
    </select>


    <select id="getCityName2" resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screendistrict.ScreenDistrictDO">
        SELECT code ,name
        FROM tb_screen_district
        WHERE parent_code = #{provinceCode}
    </select>


    <select id="getCountyName2" resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screendistrict.ScreenDistrictDO">
        SELECT code ,name
        FROM tb_screen_district
        WHERE parent_code = #{cityCode}
    </select>


    <select id="getTownName2" resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screendistrict.ScreenDistrictDO">
        SELECT code ,name
        FROM tb_screen_district
        WHERE parent_code = #{countyCode}
    </select>


    <select id="getVillageName2" resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screendistrict.ScreenDistrictDO">
        SELECT code ,name
        FROM tb_screen_district
        WHERE level = 4
    </select>


    <select id="getProvinceName2" resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screendistrict.ScreenDistrictDO">
        SELECT code ,name
        FROM tb_screen_district
        WHERE level = 0
    </select>

    <select id="getNameByCode" resultType="java.lang.String">
        SELECT name
        FROM tb_screen_district
        WHERE code = #{code}
    </select>
    <select id="selectAll"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screendistrict.vo.ScreenDistrictRespVO">
        select * FROM tb_screen_district
    </select>


</mapper>