<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.ppd.dal.mysql.screencomputedtomography.ScreenComputedTomographyMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="selectByPersonIdLastTime"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screendiagnosis.vo.TBHealthScreening">
        SELECT id, outcome, computed_tomography_code AS chestXRayCode
        FROM tb_screen_computed_tomography
        WHERE person_id = #{personId}
        ORDER BY screen_time DESC
        LiMIT 1
    </select>
    <select id="selectOutComeByPersonIdAndOrder"
            resultType="cn.iocoder.yudao.module.ppd.dal.dataobject.screencomputedtomography.ScreenComputedTomographyDO">
        SELECT
            remark, outcome
        FROM
            `tb_screen_chest_radiograph`
        WHERE
            person_id = 21
          AND screen_order = 1
            LIMIT 1
    </select>
    <select id="selectScreenComputedTomographyPage"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screencomputedtomography.vo.ScreenComputedTomographyPersonRespVO">
        select p.*,c.cur_finish from tb_screen_person p left join tb_screen_sum c on p.id_num=c.id_num
        <where>
            <if test="name!=null and name!=''">name like concat('%',#{name},'%')</if>
            <if test="idNum!=null and idNum !=''">and   id_num like concat('%',#{idNum},'%')</if>
            <if test="screenId!=null and screenId !=''">and   screen_id =#{screenId}</if>
            <if test="screenType!=null and screenType !=''">and   p.screen_type =#{screenType}</if>
            <if test="year!=null and year !=''">and   p.year =#{year}</if>
            <if test="(firstType!=null and !firstType.isEmpty())||(moreType!=null and !moreType.isEmpty())">
                and
                (
                <if test="firstType!=null and !firstType.isEmpty()">
                    first_type IN(
                    <foreach item="type" collection="firstType" separator=",">
                        #{type}
                    </foreach>
                    )
                </if>
                   <if test="(firstType!=null and !firstType.isEmpty()) and (moreType!=null and !moreType.isEmpty())">or</if>
                <if test="moreType!=null and !moreType.isEmpty()">more_type &amp; #{moreTypeNum}  &gt; 0</if>
                   )
            </if>
            <if test="startTime!=null and startTime !='' and endTime!=null and endTime !=''">and ( c.last_computed_tomography_time BETWEEN #{startTime}  AND #{endTime})</if>
            and p.deleted=0
        </where>
           order by id desc
        limit #{pageNo},#{pageSize};
    </select>
    <select id="countScreenComputedTomographyPage" resultType="java.lang.Long">
        select count(DISTINCT p.id) from tb_screen_person p left join tb_screen_sum c on p.id_num=c.id_num
        <where>
            <if test="name!=null and name!=''">name like concat('%',#{name},'%')</if>
            <if test="idNum!=null and idNum !=''">and   id_num like concat('%',#{idNum},'%')</if>
            <if test="screenId!=null and screenId !=''">and   screen_id =#{screenId}</if>
            <if test="screenType!=null and screenType !=''">and   p.screen_type =#{screenType}</if>
            <if test="(firstType!=null and !firstType.isEmpty())||(moreType!=null and !moreType.isEmpty())">
                and
                (
                <if test="firstType!=null and !firstType.isEmpty()">
                    first_type IN(
                    <foreach item="type" collection="firstType" separator=",">
                        #{type}
                    </foreach>)
                </if>
                <if test="(firstType!=null and !firstType.isEmpty()) and (moreType!=null and !moreType.isEmpty())">or</if>
                <if test="moreType!=null and !moreType.isEmpty()">more_type &amp; #{moreTypeNum}  &gt; 0</if>
                )
            </if>
            <if test="startTime!=null and startTime !='' and endTime!=null and endTime !=''">and ( c.last_computed_tomography_time BETWEEN #{startTime}  AND #{endTime})</if>
            and p.deleted=0
        </where>
    </select>
    <select id="getOrderAndTime"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screencomputedtomography.vo.ComputedTomographyOrderRespVO">
        select screen_order,screen_time,outcome from tb_screen_computed_tomography where person_id=#{personId} and screen_type=#{screenType} and `year`=#{year} order by screen_order
    </select>
    <select id="getMaxOrder" resultType="java.lang.Integer">
        select ifnull(max(screen_order),0)
        from tb_screen_computed_tomography
        where id_num=#{idNum} and screen_type=#{screenType} and `year`=#{year};
    </select>
    <select id="getOneByPersonIdNum"
            resultType="cn.iocoder.yudao.module.ppd.controller.admin.screencomputedtomography.vo.ScreenComputedTomographyRespVO">
        select id, screen_id screenId, sync_id syncId, id_num idNum, person_id personId, computed_tomography_code computedTomographyCode, computed_tomography computedTomography, photo_time photoTime, doctor_signature doctorSignature, outcome, screen_order, screen_time screenTime, year, screen_type screenType,remark
        from tb_screen_computed_tomography
        where id_num=#{idNum}
        <if test="screenOrder!=null and screenOrder!=''">
            and screen_order=#{screenOrder}
        </if>
        <if test="screenType!=null and screenType!=''">
            and screen_type=#{screenType}
        </if>
        <if test="year!=null and year!=''">
            and year=#{year}
        </if>

    </select>
    <select id="getTypeStatistics" resultType="cn.iocoder.yudao.module.ppd.controller.admin.screencomputedtomography.vo.ComputedTomographyStatistics">
        select count(case when c.outcome=0 then 1 end) normal,count(case when c.outcome=1 then 1 end) suspected
        from tb_screen_computed_tomography c  join tb_screen_sum s on s.id_num=c.id_num
        where c.screen_type=#{screenType} and c.year=#{year}
    </select>
    <select id="getYearTimeStatistics" resultType="java.lang.Integer">
        SELECT ifnull(count(DISTINCT person_id),0) num FROM tb_screen_computed_tomography WHERE YEAR(screen_time) = #{year} and screen_type=#{screenType}
    </select>
    <select id="getMonthTimeStatistics" resultType="java.lang.Integer">
        SELECT ifnull(count(DISTINCT person_id),0) num FROM tb_screen_computed_tomography WHERE YEAR(screen_time) = #{year} and MONTH(screen_time)=#{month} and screen_type=#{screenType}
    </select>
    <select id="getDayTimeStatistics" resultType="java.lang.Integer">
        SELECT ifnull(count(DISTINCT person_id),0) num FROM tb_screen_computed_tomography WHERE DATE (screen_time) = #{curDay} and screen_type=#{screenType}
    </select>
    <select id="getOutcomeByOrder" resultType="java.lang.Integer">
        select outcome from tb_screen_computed_tomography where screen_type=#{screenType} and screen_order=#{screenOrder} and  id_num=#{idNum} and year=#{year}
    </select>


    <select id="getIsExist" resultType="java.lang.Long">
        SELECT id
        FROM tb_screen_computed_tomography
        WHERE deleted = 0
          AND person_id = #{personId}
          AND screen_id = #{screenId}
          AND screen_order = #{screenOrder}
          AND screen_type = #{screenType}
          AND year = #{year}
    </select>
    <select id="countByIdNum" resultType="java.lang.Integer">
        select ifnull(count(*),0)
        FROM tb_screen_computed_tomography
        WHERE deleted = 0
                  AND id_num = #{idNum}
                  AND screen_order = #{screenOrder}
                  AND screen_type = #{screenType}
                  AND year = #{year}
    </select>
    <select id="selectMaxOrder" resultType="java.lang.Integer">
        select ifnull(screen_order,0)
        from tb_screen_computed_tomography
        WHERE deleted = 0
          AND id_num = #{idNum}
          AND screen_type = #{screenType}
          AND year = #{year}
        order by screen_order asc
        limit 1
    </select>
</mapper>